---
layout: default
---
<div class="wrap">
	<div class="category-main">
	{% for category in site.categories %}
		<div class= {{ category | first}}>
			<h2 class="archive">{{ category | first }}</h2>
			<ul class="archive-list">
			    {% for post in category.last %}
			    <li>
			    	<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
			    	<a class="post-mate" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>	
			    </li>
			    {% endfor %}
			</ul>
		</div>
	{% endfor %}
	</div>
</div>

